@if(!isModalUsuarioOpen) {
<div class="h-screen bg-base-200 flex">
  <app-chat-box
    class="w-full"
    [dadosPolitico]="dadosPolitico"
    [nomeCompleto]="nomeCompleto"
    [numeroTelefone]="numeroTelefone">
  </app-chat-box>
</div>
}

<dialog class="modal" [open]="isModalUsuarioOpen">
  <div class="modal-box">
    <h3 class="text-xl font-bold">Olá, Bem-vindo 👋</h3>
      <p class="opacity-70">
        Digite seu nome completo e número de telefone para começar.
      </p>
      <p class="opacity-70 mt-7">Digite seu nome:</p>

      <input
        type="text"
        placeholder="Nome completo"
        class="input input-bordered w-full mt-1"
        [(ngModel)]="nomeCompleto"
        (input)="validarNome($event)"
        name="nomeCompleto"
        maxlength="40"
      />

      <p class="opacity-70 mt-5">Digite seu número de telefone:</p>
      <input
        type="text"
        placeholder="(00) 00000-0000"
        class="input input-bordered w-full mt-1"
        [(ngModel)]="numeroTelefone"
        (input)="formatarTelefone($event)"
        name="numeroTelefone"
        maxlength="15"
      />
      <div class="modal-action">
        <button
          class="btn btn-sm btn-primary"
          (click)="salvarUsuario()"
        >
          Salvar
        </button>
      </div>
  </div>
</dialog>