<div class="h-screen bg-base-200 flex">
  <app-asider-bar-salas 
    [rooms]="rooms" 
    [selectedRoom]="selectedRoom" 
    (roomSelected)="selectRoom($event)" 
    (roomDeselected)="deselectedRoom()">
  </app-asider-bar-salas>
  <app-chat-box
    class="w-full"
    [userName]="userName"
    [selectedRoom]="selectedRoom"
    [messages]="messages"
    [rooms]="rooms"
    (deletarSalaEvent)="deletarSala($event)">
  </app-chat-box>
  @if(selectedRoom){
    <app-side-bar-membros 
      [selectedRoom]="selectedRoom">
    </app-side-bar-membros>
  }
</div>

