<div class="h-screen bg-base-200 flex">

  <aside class="w-64 bg-base-100 border-r border-base-300 hidden md:flex flex-col">
    <div class="p-4 flex items-center justify-between border-b border-base-300">
      <p class="font-bold text-lg">💬 Salas</p>

      <button class="btn btn-sm btn-primary" (click)="openModalAdicionarEditarSala()">
        +
      </button>
    </div>

    <ul class="menu p-2 flex-1 overflow-y-auto">
      <li *ngFor="let r of rooms">
        <a
          (click)="selectRoom(r)"
          [class.active]="selectedRoom?.id === r.id"
        >
          # {{ r.name }}
        </a>
      </li>

      <li *ngIf="rooms.length === 0" class="p-2 opacity-60">
        Nenhuma sala ainda.
      </li>
    </ul>

    <div class="p-3 border-t border-base-300 text-sm opacity-70">
      Online: em desenvolvimento...
    </div>
  </aside>

  <main class="flex-1 flex flex-col">

    <!-- Header: muda conforme sala -->
    <header class="h-14 bg-base-100 border-b border-base-300 flex items-center px-4">
      <div *ngIf="selectedRoom; else noRoomTitle" class="flex items-center justify-between w-full">
        <h2 class="font-semibold text-lg" >
          # {{ selectedRoom.name }}
        </h2>
        @if(selectedRoom.role === 'ADMIN'){
        <div class="flex gap-2">
          <button class="btn btn-sm btn-info" (click)="openModalAdicionarEditarSala(selectedRoom.name || '')">
            Editar
          </button>
          <button class="btn btn-sm btn-error" (click)="openModalDeletarSala()">
            Deletar
          </button>
        </div>
        }
      </div>

      <ng-template #noRoomTitle>
        <h2 class="font-semibold text-lg opacity-70">Selecione uma sala</h2>
      </ng-template>
    </header>

    <!-- Se não tem sala: placeholder -->
    <section *ngIf="!selectedRoom" class="flex-1 grid place-items-center p-6">
      <div class="max-w-md text-center space-y-3">
        <h3 class="text-xl font-bold">Bem-vindo, {{ userName }} 👋</h3>
        <p class="opacity-70">
          Escolha uma sala na lateral para começar a conversar,
          ou crie uma nova sala no botão <b>+</b>.
        </p>
      </div>
    </section>

    <!-- Chat só aparece quando tem sala -->
    <ng-container *ngIf="selectedRoom">
      <section class="flex-1 overflow-y-auto p-4 space-y-3" #list>
        <ng-container *ngFor="let m of messages">
          <div class="flex gap-3" [class.justify-end]="m.userName === userName">

            <div class="avatar placeholder" *ngIf="m.userName !== userName">
              <div class="bg-neutral text-neutral-content rounded-full w-8">
                <span>{{ (m.userName || '?')[0] }}</span>
              </div>
            </div>

            <div [class.text-right]="m.userName === userName">
              <div class="text-sm font-semibold">
                {{ m.userName }}
                <span class="text-xs opacity-60 ml-1">
                  {{ m.ts ? (m.ts | date:'HH:mm') : '' }}
                </span>
              </div>

              <div
                class="text-sm opacity-90 chat-text"
                [class.bg-base-300]="m.userName === userName"
                [class.rounded-lg]="m.userName === userName"
                [class.px-3]="m.userName === userName"
                [class.py-1]="m.userName === userName"
                [class.inline-block]="m.userName === userName"
              >
                {{ m.text }}
              </div>
            </div>
          </div>
        </ng-container>
      </section>

      <footer class="p-3 bg-base-100 border-t border-base-300">
        <div class="flex gap-2">
          <textarea
            class="input input-bordered w-full bg-base-200 resize-none overflow-hidden"
            [(ngModel)]="text"
            (input)="autoResize($event)"
            (keydown.enter)="send()"
            placeholder="Digite uma mensagem..."
          ></textarea>
          <button class="btn btn-neutral" (click)="send()">
            Enviar
          </button>
        </div>
      </footer>
    </ng-container>

  </main>
</div>

<dialog class="modal" [open]="isModalAdicionarSalaOpen">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-3">{{ isEdicao ? 'Editar sala' : 'Adicionar sala' }}</h3>
    <p class="opacity-70">{{ isEdicao ? 'Digite o nome da sala editada.' : 'Digite o nome da nova sala de chat.' }}</p>

    <input
      type="text"
      placeholder="Nome da sala"
      class="input input-bordered w-full mt-3"
      [(ngModel)]="nomeSala"
      name="nomeSala"
    />

    <div class="modal-action">
      <button class="btn btn-sm" (click)="closeModal()">Fechar</button>
      <button
        class="btn btn-sm btn-primary"
        (click)="isEdicao ? editarSala() : adicionarSala()"
        [disabled]="!nomeSala"
      >
        Adicionar
      </button>
    </div>
  </div>
</dialog>

<dialog class="modal" [open]="isModalDeletarSalaOpen">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-3">Deletar sala</h3>
    <p class="opacity-70">Tem certeza que deseja excluir permanentemente a sala <b>{{ selectedRoom?.name }}</b>?</p>
    <div class="modal-action">
      <button class="btn btn-sm" (click)="closeModal()">Fechar</button>
      <button
        class="btn btn-sm btn-primary"
        (click)="deletarSala()"
      >
        Deletar
      </button>
    </div>
  </div>
</dialog>
