<app-toastr></app-toastr>
<app-loader></app-loader>

<div class="app-container">
    @if(isShowSideBar) {
        <app-sidebar
            [items]="menuItems"
            [isOpen]="sidebarOpen"
            (itemClicked)="onMenuItemClick($event)"
            (toggle)="toggleSidebar()"
        ></app-sidebar>
    }
    
    <main class="app-content">
        <router-outlet></router-outlet>
    </main>
</div>

<dialog class="modal" [open]="modalConfirmacaoSair">
   <div class="modal-box">
     <h3 class="text-xl font-bold">Confirmação</h3>
     <p class="py-4">Tem certeza que deseja sair da aplicação?</p>
     <div class="modal-action">
       <button 
         class="btn btn-sm btn-primary"
         (click)="logout()">
         Sim
       </button>
       <button 
         class="btn btn-sm"
         (click)="modalConfirmacaoSair = false;">
         Não
       </button>
     </div>
   </div>
</dialog>